apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: cassandra
  labels:
    app: cassandra
spec:
  serviceName: cassandra
  replicas: 4
  selector:
    matchLabels:
      app: cassandra
  template:
    metadata:
      labels:
        app: cassandra
    spec:
      terminationGracePeriodSeconds: 1800
      containers:
      - name: cassandra
        image: cassandra:4.0
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 7000
          name: intra-node
        - containerPort: 7001
          name: tls-intra-node
        - containerPort: 7199
          name: jmx
        - containerPort: 9042
          name: cql
        resources:
          limits:
            memory: "2Gi"
            cpu: "1000m"
          requests:
            memory: "1Gi"
            cpu: "500m"
        env:
          - name: CASSANDRA_CLUSTER_NAME
            valueFrom:
              configMapKeyRef:
                name: app-config
                key: CASSANDRA_CLUSTER_NAME
          - name: CASSANDRA_DC
            valueFrom:
              configMapKeyRef:
                name: app-config
                key: CASSANDRA_DC
          - name: CASSANDRA_ENDPOINT_SNITCH
            valueFrom:
              configMapKeyRef:
                name: app-config
                key: CASSANDRA_ENDPOINT_SNITCH
          - name: CASSANDRA_SEEDS
            valueFrom:
              configMapKeyRef:
                name: app-config
                key: CASSANDRA_SEEDS
          - name: MAX_HEAP_SIZE
            value: "1024M"
          - name: HEAP_NEWSIZE
            value: "256M"
        livenessProbe:
          exec:
            command: ["cqlsh", "-e", "describe cluster"]
          initialDelaySeconds: 30
          periodSeconds: 30
        readinessProbe:
          exec:
            command: ["cqlsh", "-e", "describe cluster"]
          initialDelaySeconds: 30
          periodSeconds: 30
        volumeMounts:
        - name: cassandra-data
          mountPath: /var/lib/cassandra
  volumeClaimTemplates:
  - metadata:
      name: cassandra-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi
