apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: username-service-hpa
  labels:
    app: username-service
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: username-service
  minReplicas: 1
  maxReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 2
